<!doctype html>
<html lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>DOLLARS</title>
    <link href="dollars/css/app.css" rel="stylesheet">
</head>

<body>
    <div id="body">
        <div class="home-wrap">
            <div class="login-logo"></div>
            <form action="chatroom/" method="post">{% csrf_token %}
                <div class="login-form field" id="t_form">
                    <div class="home-name">
                        <label for="form-name">Password:</label>
                        <input type="password" id="password" name="password" size="10" maxlength="20" class="home-name-input">
                    </div>
                    <div class="home-submit">
                        <input type="submit" name="login" value="ENTER" class="submit-input home-submit-input">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>